<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCm0B8l_EJLK3VLv0q4tIJqCThBBVbryzc</string>
	<key>GCM_SENDER_ID</key>
	<string>759871142323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-jar</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-jar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759871142323:ios:ad6bb463effc454dcaf3c6</string>
</dict>
</plist>